<h1> Item info </h1>


<p> Title: <%= @grocery.title %> </p>
<p> Description: <%= @grocery.description %> </p>
<p> Quantity: <%= @grocery.quantity %> </p>

<%= link_to "Grocery List", groceries_path%>			<!-- _path is plural, refers to full groceries list -->